body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}
h1, h2, h3 {
    text-align: center;
    color: black;
}
img {
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    border: 3px solid grey;
}
section {
    background-color:white;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}
p {
    line-height: 1.6;
}
hr {
    border: none;
    height: 2px;
    background-color:grey;
    margin: 20px 0;
}